<main>
	<article class="article">
		<p class="date">{{date}}</p> <!--TODOS OS ARTIGOS POSTADOS NO DIA?-->
		<a href="#ArticleID">
			<img class="imag"
			src="{{photoCover}}"
			srcset=""
			alt="ARTICLE-IMAGE"
			height="400px"
			width="500px">
			<p class="photoInfo">{{photoInfo}}</p>
				<h1 class="title">{{title}}</h1> by <a href="#AuthorID"><p class="author">{{author}}</p></a>
				<p class="description">{{description}}<br></p>
				<p class="content">{{content}}</p>
		</a>
	</article>
</main>
<footer></footer>
