<main class="container">
  <app-card cover="../assets/bt-1.jpg" type="DIGITAL" price="FREE" [consoles]="['Mac','Windows']"></app-card>
  <app-card cover="../assets/bt-4.jpg" type="EXCLUSIVE" price="R$ 399.90"  [consoles]="['PS5','Windows']"></app-card>
  <app-card cover="../assets/bt-5.jpg" type="EXCLUSIVE" price="R$ 110" [consoles]="['Mac','Linux','Windows']"></app-card>
  <app-card cover="../assets/ac-cover.jpg" type="DIGITAL" price="R$ 56.90" [consoles]="['PS4','PS5']"></app-card>
  <app-card cover="../assets/bt-bad-company-2.jpg" type="EXCLUSIVE" price="R$ 299.80"  [consoles]="['Windows']"></app-card>
  <app-card cover="../assets/bt-hardline.jpg" type="DIGITAL" price="R$ 199.90" [consoles]="['PS5','Windows']"></app-card>
</main>
